<body>

  <!-- Temporal -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <!-- Temporal -->

  <link rel="stylesheet" href="./Css/dashboardGeneral.css">
  <link rel="stylesheet" href="./Css/header.css">
  <link rel="stylesheet" href="./Css/navegador.css">
  <header class="header">
    <img class="logo" src="./Imagenes/logo.jpg" alt="Cargando logo...">
    <div class="irLanding"><div class="content"><h4>Ver Landing page</h4></div></div>
    <h1>Dashboard 'Kasela3D'</h1>
    <div class="hiUser"><div class="content"><h4>Hola, KaselaDev</h4></div></div>
    <div class="notificaciones" id="notificaciones">
      <i class="fa-solid fa-bell fa-2xl" id="btnNoti">
      <div id="globoNoti" class="cantNoti">
        <p></p>
      </div>
      </i>
      <div class="dropNotis" id="dropNotis">
        <div class="shadow"></div>
        <header>
          <h3 class="titulo">Notificaciones</h3>
          <div class="verTodas">
            <i class="fa-solid fa-envelope-open-text"></i>
            <h4>Ver todas</h4>
          </div>
        </header>
        <div class="notisResult" id="notisResult">
          <template id="templateCardNoti">
            <div class="cardNoti">
              <img class="avatar" alt="Cargando...">
            <div class="info">
              <div class="datos">
                <h4 class="userName">Daniel Martinez</h4>
                <h4 class="fecha">Mie, 08:36hs</h4>
              </div>
              <p class="asunto" id="asunto"></p>
            </div>
            </div>
          </template>
        </div>
      </div>
    </div>
    <div class="userDrop" id="userDrop">
      <div class="contentAvatar">
        <img class="avatar" id="botonUser" src="https://robohash.org/kg?set=set4" alt="Cargando...">
      </div>
      <div class="dropUser" id="dropUser">
        <div class="cardRolUser">
          <div class="rol"><p>Admin</p></div>
          <div class="avatarContent">
            <img class="avatar" src="https://robohash.org/kg?set=set4" alt="Cargando...">
          </div>
          <span class="nombre"><p>Santiago Casellas</p></span>
          <span class="email">
            <i class="fa-solid fa-envelope"></i>
            <p>santiagocasellas2005@gmail.com</p>
          </span>
        </div>
        <hr>
        <div class="opciones">
          <span class="opcion">
            <i class="fa-solid fa-user-gear"></i>
            <p>Configurar usuario</p>
          </span>
          <span class="opcion">
            <i class="fa-solid fa-gear"></i>
            <p>Configurar Web</p>
          </span>
          <span class="opcion logout">
            <i class="fa-solid fa-right-from-bracket"></i>
            <p>Cerrar sesion</p>
          </span>
        </div>
      </div>
    </div>
  </header>


  <nav class="navegador">
    <h2 class="titulo">Navegador</h2>
    <div class="opciones">
      <div href="" class="opcion">
        <i class="fa-regular fa-calendar-days"></i>
        <p>Turnos</p>
      </div>
      <div href="" class="opcion">
        <i class="fa-solid fa-file-invoice-dollar"></i>
        <p>Pedidos</p>
      </div>
      <div href="" class="opcion">
        <i class="fa-solid fa-bell-concierge"></i>
        <p>Servicios</p>
      </div>
      <div href="" class="opcion">
        <i class="fa-solid fa-child"></i>
        <p>Clientes</p>
      </div>
      <div href="" class="opcion">
        <i class="fa-solid fa-users-gear"></i>
        <p>Empleados</p>
      </div>
      <div href="" class="opcion">
        <i class="fa-solid fa-chart-line"></i>
        <p>Estadisticas</p>
      </div>
    </div>
    <div class="stock">
      <header>
        <h3>Stock</h3>
        <span class="verStock">
          <i class="fa-solid fa-boxes-stacked"></i>
          <h4>Ver stock</h4>
        </span>
      </header>
      <div class="resultStock">
        <emplate>
          <div class="cardStock">
            <div class="productoInfo">
              <h3 class="nombre">Carne</h3>
              <div class="barra">
                <div class="barraCant"></div>
              </div>
              <h3 class="porcentaje">90.87%</h3>
            </div>
          </div>

          <div class="cardStock">
            <div class="productoInfo">
              <h3 class="nombre">Carne</h3>
              <div class="barra">
                <div class="barraCant"></div>
              </div>
              <h3 class="porcentaje">90.87%</h3>
            </div>
          </div>
          <div class="cardStock">
            <div class="productoInfo">
              <h3 class="nombre">Carne</h3>
              <div class="barra">
                <div class="barraCant"></div>
              </div>
              <h3 class="porcentaje">90.87%</h3>
            </div>
          </div>
          <div class="cardStock">
            <div class="productoInfo">
              <h3 class="nombre">Carne</h3>
              <div class="barra">
                <div class="barraCant"></div>
              </div>
              <h3 class="porcentaje">90.87%</h3>
            </div>
          </div>
        </emplate>
      </div>
    </div>
  </nav>
  <script type="text/javascript" src="./JavaScript/header.js"></script>
</body>
</html>