@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
:root{
    --color0: #eeeeee;
    --color1: #f0a818;
    --color2: #7890a8;
    --color3: #304878;
    --color4: #181848;
    --color5: #000000;

    /* Generales */
    --Fuente: "Roboto Mono";

    /* header */
    --bgHeader: var(--color3);
    --bgDropUser: var(--color4);
    --bgDropNotis: var(--color3);
    --notisColor: var(--color1);
    --notisColorHover: var(--color0);
    --bgcardNoti: var(--color4);
    --letraCardNoti: var(--color0);
    --bgCardRol: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
    --bgAvatar: gold;
    --logoutColor: #ff2525;
    --notificacionColor: red;

    /* navegador */
    --bgNavegador: var(--color4);
    --navegadorColor: var(--color0);
    --bgBarraDivisora: #645b4e;
    --bgStockCard: var(--color0);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#root{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    font-family: "Roboto Mono";
}
.mainGeneral{
    width: 100%;
    height: auto;
    display: flex;
    flex: 1;
    justify-content: stretch;
    align-items: stretch;
}